*{
    padding: 0;
    margin: 0;
}

.md-toolbar md-icon.md-default-theme {
    color: white; }
.md-toolbar-tools{
    color: white;
}
.md-input-container.md-default-theme label,
.md-input-container.md-default-theme .md-placeholder{
    color:white !important;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#dropDownProfile{
    display: none;
    padding: 0;
    background-color: white;
    color: black;
    border-radius: 4px;
    position: absolute;
    top: 54px;
    right: 5px
}
.change-profile-image-text{
    width: 100%;
    height:25px;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 12px;
    opacity: 0.7
}
.fixed-calendar {
    width: 340px;
    height: 340px;
    display: block;
}

.fixed-calendar .md-calendar-scroll-mask {
    width: 340px !important;
}
.md-calendar-day-header{
    width: 340px;
}

.fixed-calendar .md-virtual-repeat-scroller {
    width: 340px !important;
    height: 308px;
}

.schedule-day-label{
    width:100%;
    padding: 5px;
    background-color: #2E4454;
    color: #fff;
    text-align: center
}

.schedule-item{
    width: 90%;
    background: #de5a8c;
    color:white;
    padding: 2px;
    text-align: center;
    border-radius: 4px;
    margin: 2px auto;
}

.schedule-item span{
    display: block;
}

.schedule-item h5{
    margin: 5px auto;
}

.meeting{
    background: #9ad5f8;
}

.extra{
    background: #3d5972;
}