<md-dialog aria-label="Edit Post" ng-cloak>
    <md-content>
        <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Edit Announcement</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="svg/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content style="min-height: 100px" layout="column" layout-align="center none">
                <md-progress-circular class="center-with-margin" ng-show="loader.loading" md-mode="indeterminate"></md-progress-circular>
                <div ng-hide="loader.loading" class="md-dialog-content" layout="column" layout-align="center center">
                    <form>
                        <md-input-container class="md-block" style="margin-bottom: 0; width: 100%">
                            <label>Edit announcement</label>
                            <textarea ng-disabled="loader.posting" ng-model="edited_post" md-maxlength="300" md-select-on-focus></textarea>
                        </md-input-container>
                        <div layout="row" layout-align="end center">
                            <div>
                                <p style="font-size: 16px; color: #585858;">Edit groups to notify</p>
                                <div layout="row" layout-wrap>
                                    <md-checkbox ng-disabled="loader.posting"
                                                 ng-repeat="group in groups track by $index"
                                                 ng-checked="exists(group.id, selected)"
                                                 ng-click="toggle(group.id, selected)">
                                        <% group.name %>
                                    </md-checkbox>
                                </div>
                            </div>
                            <div flex></div>
                        </div>
                    </form>
                </div>
            </md-dialog-content>
            <md-dialog-actions ng-hide="loader.loading"  layout="row">
                <md-progress-circular class="small-progress" ng-show="loader.posting" md-mode="indeterminate"></md-progress-circular>
                <md-button ng-disabled="loader.posting" ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button ng-disabled="loader.posting" class="md-primary" ng-click="update()" style="margin-right:20px;">
                    Update
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>
</md-dialog>