<md-dialog aria-label="Event Select" ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><% select_event.type | capitalize %> at <% dateExtended(select_event.date) %></h3>
                <span flex></span>
                <md-button ng-if="user_type=='teacher' || user_type=='mentor'" class="md-icon-button" ng-click="edit()">
                    <md-icon md-svg-src="svg/ic_edit_white_24px.svg" aria-label="Edit Event"></md-icon>
                </md-button>
                <md-button ng-if="user_type=='teacher' || user_type=='mentor'" class="md-icon-button" ng-click="delete()">
                    <md-icon md-svg-src="svg/ic_delete_white_24px.svg" aria-label="Edit Event"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon md-svg-src="svg/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="center center" >
                <span class="md-display-1" style="color: #6a72a2"><% select_event.title %></span>
                <span class="md-headline" style="color: #d98084">(<% select_event.start_time %>-<% select_event.end_time %>)</span>
                <span class="md-body-2" style="color: #94cac2;margin-top: 10px">Created by <% select_event.owner %></span>
                <span class="md-body-2" ng-if="select_event.type='lesson'" style="color: #94cac2">Responsible teacher: <% select_event.responsible_first %></span>
                <span class="md-body-2" ng-if="select_event.type='meeting'" style="color: #94cac2">Responsible student: <% select_event.responsible_first %></span>
                <span class="md-body-2" ng-if="select_event.type='meeting'" style="color: #94cac2">Responsible mentor: <% select_event.responsible_second %></span>
                <span class="md-headline" style="margin-top: 10px">Content</span>
                <span class="md-title"><% select_event.description %></span>
                <div layout="row" style="margin-top: 20px; color: #a47f90;">
                    <span class="md-subhead">Place: <% select_event.place %></span>
                    <span ng-if="select_event.group!=''" style="width: 80px"></span>
                    <span ng-if="select_event.group!=''" class="md-subhead">Group: <% select_event.group %></span>
                </div>
                <span ng-disabled="user_name!=select_event.owner" aria-label="Event status" style="color: #ce226d; font-size: 20px" >
                    <% showStatus(select_event.status) %>
                </span>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="none center">
            <md-button class="md-primary" ng-click="hide()" style="margin-right:20px;">
                Ok
            </md-button>
        </md-dialog-actions>
    </md-content>
</md-dialog>
