<md-dialog aria-label="Notification Select" style="width: 500px " ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><% notificationTitle %></h3>
                <span flex></span>
                <md-button ng-disabled="loader.posting" ng-if="edit_check" class="md-icon-button" ng-click="edit()">
                    <md-icon md-svg-src="svg/ic_edit_white_24px.svg" aria-label="Edit reservation"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon md-svg-src="svg/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="center none" style="min-height: 100px">
                <md-progress-circular class="center-with-margin" ng-show="loader.loading"
                                      md-mode="indeterminate"></md-progress-circular>
                <div ng-hide="loader.loading" layout="column" layout-align="center center">
                <span ng-if="!editMode && notification_data.type=='reservation'" class="md-body-2"
                      style="color: #94cac2; margin-top: 10px">Your responsible person: <% notification_data.responsible_another %></span>
                    <span class="md-headline" style="margin-top: 10px">Content</span>
                    <span class="md-title" style="text-align: center"><% notificationContent %></span>
                    <div layout="row" style="margin-top: 5px" ng-show="editMode">
                        <div layout="row" layout-align="center center" style="color: #88c8d0">
                            <h4 class="md-title">Start time: </h4>
                            <div style="width: 10px"></div>
                            <div layout="row" layout-align="center">
                                <md-input-container>
                                    <label>hour</label>
                                    <md-select ng-disabled="loader.posting" ng-model="startHour" class="md-subhead">
                                        <md-option ng-repeat="hour in hours" value="<% hour.selectedHour %>">
                                            <% hour.selectedHour %>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>minute</label>
                                    <md-select ng-disabled="loader.posting" ng-model="startMinute" class="md-subhead">
                                        <md-option ng-repeat="minute in minutes" value="<% minute.selectedMinute %>">
                                            <% minute.selectedMinute %>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div style="width: 20px"></div>
                        <div layout="row" layout-align="center center" style="color: #d98084">
                            <h4 class="md-title">End time: </h4>
                            <div style="width: 10px"></div>
                            <div layout="row" layout-align="center">
                                <md-input-container>
                                    <label>hour</label>
                                    <md-select ng-disabled="loader.posting" ng-model="endHour" class="md-subhead">
                                        <md-option ng-repeat="hour in hours" value="<% hour.selectedHour %>">
                                            <% hour.selectedHour %>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>minute</label>
                                    <md-select ng-disabled="loader.posting" ng-model="endMinute" class="md-subhead">
                                        <md-option ng-repeat="minute in minutes" value="<% minute.selectedMinute %>">
                                            <% minute.selectedMinute %>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <span class="md-title" style="color: #d98084" ng-if="notification_data.type=='reservation' && !editMode">(<% notification_data.start_time %> - <% notification_data.end_time %>)</span>
                    <span class="md-subhead" style="color: #d98084; margin-top: 5px"><% dateExtended(notificationDate) %></span>
                <span ng-if="notification_data.type=='reservation'" aria-label="Reservation request"
                      style="color: #505050; font-size: 18px; margin-top: 20px">
                    <% showStatus(notification_data.status) %>
                </span>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions ng-hide="loader.loading" ng-hide="loader.loading" layout="row">
            <md-progress-circular class="small-progress" ng-show="loader.posting"
                                  md-mode="indeterminate"></md-progress-circular>
            <!--buttons for announcement-->
            <md-button ng-disabled="loader.posting" ng-if="notification_data.type!='reservation' || notification_data.status==0"
                       class="md-primary"
                       ng-click="hide()"
                       style="margin-right:20px;">
                Ok
            </md-button>
            <!--buttons for extra lesson -->
            <md-button ng-disabled="loader.posting" ng-if="reservationRespondCheck()" class="md-primary"
                       ng-click="reservationAccept(false)" style="margin-right:20px;">
                Decline
            </md-button>
            <md-button ng-disabled="loader.posting" ng-if="reservationRespondCheck()"
                       class="md-raised md-primary" ng-click="reservationAccept(true)" style="margin-right:20px;">
                Accept
            </md-button>
            <!--buttons for edit mode -->
            <md-button ng-disabled="loader.posting" ng-if="editMode" class="md-primary" ng-click="cancel()"
                       style="margin-right:20px;">
                Cancel
            </md-button>
            <md-button ng-disabled="loader.posting" ng-if="editMode" class="md-raised md-primary" ng-click="update()"
                       style="margin-right:20px;">
                Update
            </md-button>
        </md-dialog-actions>
    </md-content>
</md-dialog>
