<md-dialog aria-label="Notification Select" style="width: 500px " ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3><% notificationTitle | capitalize %></h3>
                <span flex></span>
                <md-button ng-if="edit_check" class="md-icon-button" ng-click="edit()">
                    <md-icon md-svg-src="svg/ic_edit_white_24px.svg" aria-label="Edit Event"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon md-svg-src="svg/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="center center">
                <span class="md-display-1" style="color: #6a72a2"><% notificationTitle %></span>
                <span class="md-headline" style="color: #d98084" ng-if="notificationEventType=='extra' && !editMode">(<% notificationStartTime %> - <% notificationEndTime %>)</span>
                <span class="md-title" style="color: #d98084"><% dateExtended(notificationDate) %></span>
                <div layout="row" style="margin-top: 15px" ng-show="editMode">
                    <div layout="row" layout-align="center center" style="color: #88c8d0">
                        <h4 class="md-title">Start time: </h4>
                        <div style="width: 10px"></div>
                        <div layout="row" layout-align="center">
                            <md-input-container>
                                <label>hour</label>
                                <md-select ng-model="startHour" class="md-subhead">
                                    <md-option ng-repeat="hour in hours" value="<% hour.selectedHour %>">
                                        <% hour.selectedHour %>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>minute</label>
                                <md-select ng-model="startMinute" class="md-subhead">
                                    <md-option ng-repeat="minute in minutes" value="<% minute.selectedMinute %>">
                                        <% minute.selectedMinute %>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div style="width: 20px"></div>
                    <div layout="row" layout-align="center center" style="color: #d98084">
                        <h4 class="md-title">End time: </h4>
                        <div style="width: 10px"></div>
                        <div layout="row" layout-align="center">
                            <md-input-container>
                                <label>hour</label>
                                <md-select ng-model="endHour" class="md-subhead">
                                    <md-option ng-repeat="hour in hours" value="<% hour.selectedHour %>">
                                        <% hour.selectedHour %>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>minute</label>
                                <md-select ng-model="endMinute" class="md-subhead">
                                    <md-option ng-repeat="minute in minutes" value="<% minute.selectedMinute %>">
                                        <% minute.selectedMinute %>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <span ng-if="!editMode" class="md-body-2" style="color: #94cac2; margin-top: 10px">By <% notificationOwner %></span>
                <span ng-if="!editMode && notificationEventType=='extra'" class="md-body-2" style="color: #94cac2; margin-top: 10px">Your responsible person: <% notificationAnotherResponsible %></span>
                <span ng-if="!editMode" class="md-headline" style="margin-top: 10px">Content</span>
                <span ng-if="!editMode" class="md-title"><% notificationContent %></span>
                <span ng-if="notificationEventType=='extra'" aria-label="Event request"
                      style="color: #505050; font-size: 18px; margin-top: 20px">
                    <% showStatus(notificationStatus) %>
                </span>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="none center">
            <!--buttons for announcement-->
            <md-button ng-if="notificationType=='announcements' || !extra_respond_check" class="md-primary" ng-click="hide()"
                       style="margin-right:20px;">
                Ok
            </md-button>
            <!--buttons for extra lesson -->
            <md-button ng-if="extra_respond_check" class="md-primary"
                       ng-click="eventAccept(false)" style="margin-right:20px;">
                Decline
            </md-button>
            <md-button ng-if="extra_respond_check"
                       class="md-raised md-primary" ng-click="eventAccept(true)" style="margin-right:20px;">
                Accept
            </md-button>
            <!--buttons for edit mode -->
            <md-button ng-if="editMode" class="md-primary" ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
            <md-button ng-if="editMode" class="md-raised md-primary" ng-click="update()" style="margin-right:20px;">
                Update
            </md-button>
        </md-dialog-actions>
    </md-content>
</md-dialog>
