<md-dialog aria-label="Person Edit" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Edit Personal Info</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon md-svg-src="svg/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="edit_personal_info_form" role="form">
            <div class="md-dialog-content" style="min-height: 100px;">
                <div layout="row" layout-align="center none" style="padding-bottom: 0">
                    <div style="width: 150px">
                        <div class="no-outline"
                             style="position: relative; width: 100%; height: 150px;border-radius: 100%; overflow: hidden">
                            <img class="md-avatar" ng-src="<% edited_person_data.profile_image_path %>"
                                 style="position: absolute; top: 0;left: 0;width: 100%;height: 100%"/>
                            <div class="no-outline" ng-show="checkOwner()" style="position:absolute;top: 0;left: 0; background: black;opacity: 0.5;
                        width: 100%;height: 100%; text-align: center; color: white; padding: 30px 20px"
                                 ng-click="changeProfileImage()">
                                <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
                                <br>
                                <span>Change profile picture</span>
                            </div>
                        </div>

                    </div>
                    <div style="width: 30px"></div>
                    <div layout="column">
                        <md-input-container class="reduce-margin-bottom">
                            <label>Name</label>
                        <textarea ng-disabled="loader.posting" required class="md-title"
                                  ng-model="edited_person_data.name"
                                  minlength="10" maxlength="100" name="edited_person_name"></textarea>
                            <div ng-messages="edit_personal_info_form.edited_person_name.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                    Please fill out your full name
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="reduce-margin-bottom">
                            <label>Email</label>
                            <input ng-disabled="loader.posting" required type="email"
                                   ng-model="edited_person_data.email"
                                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                                   name="edited_person_email"/>
                            <div ng-messages="edit_personal_info_form.edited_person_email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Invalid email
                                </div>
                            </div>
                        </md-input-container>
                        <div layout="row">
                            <md-input-container style="margin-top: 5px" class="reduce-margin-bottom">
                                <label>Old password</label>
                                <input ng-disabled="loader.posting" ng-model="old_password" type="password"
                                       name="old_password">
                            </md-input-container>

                            <md-input-container class="reduce-margin-bottom" style="margin-top: 5px" flex-gt-sm>
                                <label>New password</label>
                                <input ng-disabled="loader.posting" name="new_password" ng-model="new_password" required
                                       type="password"
                                       minlength="8">
                                <div ng-messages="edit_personal_info_form.new_password.$error" multiple
                                     md-auto-hide="false">
                                    <div ng-message="minlength">Required at least 8 character</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="reduce-margin-bottom" style="margin-top: 5px" flex-gt-sm>
                                <label>Confirm Password</label>
                                <input ng-disabled="loader.posting" name="new_password_confirm"
                                       ng-model="new_password_confirm" required
                                       type="password" ng-pattern="new_password">
                                <div ng-messages="edit_personal_info_form.new_password_confirm.$error" multiple
                                     md-auto-hide="false">
                                    <div ng-message="pattern">Doesn't match</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div ng-show="edited_person_table=='students' || edited_person_table=='users'" layout="row">
                            <md-input-container class="reduce-margin-bottom" flex-gt-sm style="margin: 10px 0">
                                <label>Phone Number</label>
                                <input ng-disabled="loader.posting" type="text" name="edited_person_phone"
                                       ng-model="edited_person_data.phone"
                                       placeholder="+994123456789" required>
                                <div ng-messages="edit_personal_info_form.edited_person_phone" role="alert">
                                    <div ng-message="required">Required field!</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="reduce-margin-bottom" flex-gt-sm style="margin: 10px 0">
                                <label>Birth Date</label>
                                <input ng-disabled="loader.posting" type="text" name="edited_person_birth"
                                       ng-model="edited_person_data.birthDate"
                                       placeholder="MM-DD-YYYY" required maxlength="10">
                                <div ng-messages="edit_personal_info_form.edited_person_birth" role="alert">
                                    <div ng-message="required">Required field!</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="reduce-margin-bottom" ng-show="edited_person_table=='students'"
                                                style="margin-top: 10px">
                                <label>Group</label>
                                <md-select ng-disabled="loader.posting || user_type!='teacher'"
                                           ng-model="edited_person_data.group_id">
                                    <md-option ng-repeat="group in groups" value="<% group.id %>">
                                        <% group.name %>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-hide="edited_person_table=='students' || edited_person_table=='users'" layout="row">
                            <div layout="row" layout-align="center center" style="color: #81D18F">
                                <h4 class="md-title">Start time: </h4>
                                <div style="width: 10px"></div>
                                <div layout="row" layout-align="center">
                                    <md-input-container required class="reduce-margin-bottom">
                                        <label>hour</label>
                                        <md-select ng-disabled="loader.posting" ng-model="startHour" class="md-subhead">
                                            <md-option ng-repeat="hour in hours" value="<% hour.selectedHour %>">
                                                <% hour.selectedHour %>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container require class="reduce-margin-bottom">
                                        <label>minute</label>
                                        <md-select ng-disabled="loader.posting" ng-model="startMinute"
                                                   class="md-subhead">
                                            <md-option ng-repeat="minute in minutes"
                                                       value="<% minute.selectedMinute %>">
                                                <% minute.selectedMinute %>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div style="width: 20px"></div>
                            <div layout="row" layout-align="center center" style="color: #d98084">
                                <h4 class="md-title">End time: </h4>
                                <div style="width: 10px"></div>
                                <div layout="row" layout-align="center">
                                    <md-input-container required class="reduce-margin-bottom">
                                        <label>hour</label>
                                        <md-select ng-disabled="loader.posting" ng-model="endHour" class="md-subhead">
                                            <md-option ng-repeat="hour in hours" value="<% hour.selectedHour %>">
                                                <% hour.selectedHour %>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container required class="reduce-margin-bottom">
                                        <label>minute</label>
                                        <md-select ng-disabled="loader.posting" ng-model="endMinute" class="md-subhead">
                                            <md-option ng-repeat="minute in minutes"
                                                       value="<% minute.selectedMinute %>">
                                                <% minute.selectedMinute %>
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div style="width: 20px"></div>
                            <md-input-container class="reduce-margin-bottom">
                                <label>Work days</label>
                                <md-select ng-disabled="loader.posting" ng-model="selected_days" multiple>
                                    <md-optgroup label="Week Days">
                                        <md-option ng-value="day" ng-repeat="day in week_days"><% day %></md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                        <md-input-container ng-hide="edited_person_table=='users'" style="margin: 0; margin-top: 20px">
                            <label>Bio</label>
                            <textarea ng-disabled="loader.loading" ng-model="edited_person_data.bio"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions ng-hide="loader.loading" layout="row">
        <md-progress-circular class="small-progress" ng-show="loader.posting"
                              md-mode="indeterminate"></md-progress-circular>
        <md-button ng-disabled="loader.posting" ng-click="hide()">
            Cancel
        </md-button>
        <md-button ng-disabled="loader.posting" class="md-raised md-primary" ng-click="update()"
                   style="margin-right:20px;">
            Update
        </md-button>
    </md-dialog-actions>
</md-dialog>
