<md-content ng-controller="NotificationController">
    <p class="md-subhead md-margin" style="color: #909090">Recent Notifications</p>
    <md-list >
        <md-divider></md-divider>
        <md-list-item ng-repeat="notification in notifications" class="secondary-button-padding" ng-click="selectNotification($index,notification.source_id,notification.source_table)">
            <md-icon ng-if="notification.source_table=='announcement'" md-svg-icon="svg/ic_announcement_black_24px.svg"></md-icon>
            <md-icon ng-if="notification.type!='announcement'" md-svg-icon="svg/ic_people_black_24px.svg"></md-icon>
            <p class="md-title"><% notification.text %></p>
            <span class="flex"></span>
            <span class="md-body-1"><% showDateFromNow(notification.updated_at) %></span>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>