<md-content ng-controller="NotificationController">
    <section ng-if="group_notifications!=[]">
        <md-subheader class="md-accent">Group Notifications</md-subheader>
        <md-list layout-padding>
            <md-list-item ng-repeat="notification1 in group_notifications" class="md-3-line secondary-button-padding"
                          ng-click="selectNotification(notification1.id)">
                <md-icon md-svg-icon="svg/ic_announcement_black_24px.svg"></md-icon>
                <div class="md-list-item-text">
                    <h3><% notification1.text %></h3>
                    <span class="flex"></span>
                    <h4><% showDateFromNow(notification1.updated_at) %></h4>
                </div>
            </md-list-item>
        </md-list>
    </section>
    <section ng-if="personal_notifications!=[]">
        <md-subheader class="md-primary">Personal Notifications</md-subheader>
        <md-list layout-padding>
            <md-list-item ng-repeat="notification2 in personal_notifications" class="md-3-line secondary-button-padding"
                          ng-click="selectNotification(notification2.id)">
                <md-icon md-svg-icon="svg/ic_people_black_24px.svg"></md-icon>
                <div class="md-list-item-text">
                    <h3><% notification2.text %></h3>
                    <span class="flex"></span>
                    <h4><% showDateFromNow(notification2.updated_at) %></h4>
                </div>
            </md-list-item>
        </md-list>
    </section>
</md-content>