<md-progress-linear ng-show="loader.loading || loader.posting" md-mode="indeterminate"></md-progress-linear>
<md-content>
    <style>
        .md-errors-spacer{
            display:none;
        }
    </style>
    <md-tabs class="md-accent" md-selected="selectedIndex" md-align-tabs="top" md-dynamic-height md-border-bottom
             md-center-tabs="true" md-swipe-content="true">
        <md-tab ng-if="user_type=='teacher'" id="pending">
            <md-tab-label class="custom-tab">Pending users</md-tab-label>
            <md-tab-body>
                <md-list layout="column" style="max-width: 1000px; margin: 0 auto;">
                    <md-list-item ng-repeat="contact in pending track by $index"
                                  ng-click="showContact(contact.id,'users')" class="noright">
                        <img class="md-avatar" ng-src="images/profile_icon.png"
                             style="width:40px; height: 40px; margin-right: 10px ;border-radius: 100%"/>
                        <span class="md-title"><% contact.name %></span>
                        <span flex></span>
                        <span class="md-subhead"><% contact.email %></span>
                        <md-input-container style="margin-left: 10px">
                            <label>Student group</label>
                            <md-select ng-model="selected_group_id">
                                <md-option ng-repeat="group in groups" value="<% group.id %>" ng-click="changeType(contact.id,'student', group.id)">
                                    <% group.name %>
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-raised md-primary" ng-click="changeType(contact.id, 'mentor')">Mentor
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="changeType(contact.id, 'teacher')">Teacher
                        </md-button>
                        <md-button class="md-raised md-warn" ng-click="deleteUser(contact.id)">Delete</md-button>
                        <md-icon md-svg-icon="svg/ic_email_black_24px.svg" ng-click="sendEmail(contact.id)"
                                 aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
        <md-tab ng-if="user_type!='student'" id="student_tab">
            <md-tab-label>Students</md-tab-label>
            <md-tab-body>
                <section style="max-width: 1000px; margin: 0 auto;" ng-repeat="group in groups track by $index">
                    <md-subheader ng-click="toggleList($index)" class="no-outline" style="background-color:#ececec; color: rgb(245, 126, 54); margin-bottom: 1px">
                        <div layout="row" layout-align="space-between center" >
                            <span><% group.name %></span>
                            <div layout="row">
                                <md-input-container class="no-outline" ng-click="searchEvent($event)" ng-hide="show_list[$index]" style="margin: 0">
                                    <md-icon md-svg-icon="svg/ic_search_white_24px.svg" class="search"></md-icon>
                                    <input ng-model="searchName" type="text" aria-label="searchName">
                                </md-input-container>
                            </div>
                        </div>
                    </md-subheader>
                    <md-list ng-hide="show_list[$index]" layout="column" style="padding: 0;">
                        <md-list-item style="max-width: 100%;" ng-repeat="contact in students | filter:searchName"
                                      ng-if="contact.group_id == group.id" ng-click="showContact(contact.id,'students')"
                                      class="noright">
                            <img class="md-avatar" ng-src="<% contact.profile_image_path || 'images/profile_icon.png' %> "
                                 style="width:40px; height: 40px; margin-right: 10px ;border-radius: 100%"/>
                            <span class="md-title"><% contact.name %></span>
                            <span flex></span>
                            <span class="md-subhead"><% contact.email %></span>
                            <md-icon md-svg-icon="svg/ic_email_black_24px.svg" ng-click="sendEmail(contact.id)"
                                     aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
            </md-tab-body>
        </md-tab>
        <md-tab id="mentor_tab">
            <md-tab-label class="custom-tab">Mentors</md-tab-label>
            <md-tab-body>
                <md-list layout="column" style="max-width: 1000px; margin: 0 auto;">
                    <md-list-item ng-repeat="contact in mentors track by $index"
                                  ng-click="showContact(contact.id,'mentors')" class="noright">
                        <img class="md-avatar" ng-src="<% contact.profile_image_path || 'images/profile_icon.png' %>"
                             style="width:40px; height: 40px; margin-right: 10px ;border-radius: 100%"/>
                        <span class="md-title"><% contact.name %></span>
                        <span flex></span>
                        <span class="md-subhead"><% contact.email %></span>
                        <md-icon md-svg-icon="svg/ic_email_black_24px.svg" ng-click="sendEmail(contact.id)"
                                 aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
        <md-tab id="teacher_tab">
            <md-tab-label class="custom-tab">Teachers</md-tab-label>
            <md-tab-body>
                <md-list layout="column" style="max-width: 1000px; margin: 0 auto;">
                    <md-list-item ng-repeat="contact in teachers track by $index"
                                  ng-click="showContact(contact.id,'teachers')" class="noright">
                        <img class="md-avatar" ng-src="<% contact.profile_image_path || 'images/profile_icon.png' %>"
                             style="width:40px; height: 40px; margin-right: 10px ;border-radius: 100%"/>
                        <span class="md-title"><% contact.name %></span>
                        <span flex></span>
                        <span class="md-subhead"><% contact.email %></span>
                        <md-icon md-svg-icon="svg/ic_email_black_24px.svg" ng-click="sendEmail(contact.id)"
                                 aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>