<md-content class="md-padding">
    <h1 class="md-headline">AM-01</h1>
    <md-list-item ng-repeat="contact in student_contacts" ng-click="showContact($index)" class="noright">
        <md-icon md-svg-icon="svg/avatar-1.svg"></md-icon>
        <p class="md-title">{{ contact.name }}</p>
        <p class="md-subhead">{{ contact.email }}</p>
        <md-icon md-svg-icon="svg/ic_email_black_24px.svg"  ng-click="sendEmail($index)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
        <md-divider></md-divider>
    </md-list-item>
</md-content>

