<md-content>
    <md-tabs class="md-accent" md-selected="selectedIndex" md-align-tabs="top" md-dynamic-height md-border-bottom md-center-tabs="true" md-swipe-content="true">
        <md-tab id="student_tab" >
            <md-tab-label>Students</md-tab-label>
            <md-tab-body>
                <md-list-item ng-repeat="contact in students track by $index" ng-click="showContact(contact.id)" class="noright">
                    <img class="md-avatar" ng-src="images/kr_profile_pic.JPG" style="width:40px; height: 40px; margin-right: 10px ;border-radius: 100%"/>
                    <p class="md-title">{{ contact.name }}</p>
                    <p flex></p>
                    <p class="md-subhead">{{ contact.email }}</p>
                    <md-icon md-svg-icon="svg/ic_email_black_24px.svg"  ng-click="sendEmail(contact.id)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                    <md-divider></md-divider>
                </md-list-item>
            </md-tab-body>
        </md-tab>
        <md-tab id="mentor_tab">
            <md-tab-label class="custom-tab">Mentors</md-tab-label>
            <md-tab-body>
                <md-list-item ng-repeat="contact in mentors track by $index" ng-click="showContact(contact.id)" class="noright">
                    <img class="md-avatar" ng-src="images/kr_profile_pic.JPG" style="width:40px; height: 40px; margin-right: 10px ;border-radius: 100%"/>
                    <p class="md-title">{{ contact.name }}</p>
                    <p flex></p>
                    <p class="md-subhead">{{ contact.email }}</p>
                    <md-icon md-svg-icon="svg/ic_email_black_24px.svg"  ng-click="sendEmail(contact.id)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                    <md-divider></md-divider>
                </md-list-item>
            </md-tab-body>
        </md-tab>
        <md-tab id="teacher_tab">
            <md-tab-label class="custom-tab">Teachers</md-tab-label>
            <md-tab-body>
                <md-list-item ng-repeat="contact in teachers track by $index" ng-click="showContact(contact.id)" class="noright">
                    <img class="md-avatar" ng-src="images/kr_profile_pic.JPG" style="width:40px; height: 40px; margin-right: 10px ;border-radius: 100%"/>
                    <p class="md-title">{{ contact.name }}</p>
                    <p flex></p>
                    <p class="md-subhead">{{ contact.email }}</p>
                    <md-icon md-svg-icon="svg/ic_email_black_24px.svg"  ng-click="sendEmail(contact.id)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                    <md-divider></md-divider>
                </md-list-item>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>