<md-content ng-controller="ScheduleController" layout="column" layout-align="space-between none">
    <div layout="row">
        <div layout="column" class="md-padding">
            <md-calendar ng-model="dt" class="fixed-calendar"></md-calendar>
            <md-button class="md-raised md-accent" ng-click="today()" style="margin-top: 20px">Today</md-button>
        </div>
        <div flex layout="row" class="md-padding" >
            <div flex layout="column">
                <label class="schedule-day-label">{{display(dt)}}</label>
                <div flex>
                    <div class="schedule-item" ng-repeat="event in events" ng-if="parseDateEvent(event.date, 'MM-DD-YYYY') == parseDate(dt)" ng-class="{'meeting': event.type=='meeting', 'extra': event.type=='extra'}">{{event.title}}</div>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex layout="column">
                <label class="schedule-day-label">{{temp1.format("dddd, MMMM DD YYYY")}}</label>
                <div flex>
                    <div class="schedule-item" ng-repeat="event in events" ng-if="parseDateEvent(event.date, 'MM-DD-YYYY') == temp1.format('MM-DD-YYYY')" ng-class="{'meeting': event.type=='meeting', 'extra': event.type=='extra'}">{{event.title}}</div>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex layout="column">
                <label class="schedule-day-label">{{temp2.format("dddd, MMMM DD YYYY")}}</label>
                <div flex>
                    <div class="schedule-item" ng-repeat="event in events" ng-if="parseDateEvent(event.date, 'MM-DD-YYYY') == temp2.format('MM-DD-YYYY')" ng-class="{'meeting': event.type=='meeting', 'extra': event.type=='extra'}">{{event.title}}</div>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex layout="column">
                <label class="schedule-day-label">{{temp3.format("dddd, MMMM DD YYYY")}}</label>
                <div flex>
                    <div class="schedule-item" ng-repeat="event in events" ng-if="parseDateEvent(event.date, 'MM-DD-YYYY') == temp3.format('MM-DD-YYYY')" ng-class="{'meeting': event.type=='meeting', 'extra': event.type=='extra'}">{{event.title}}</div>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex layout="column">
                <label class="schedule-day-label">{{temp4.format("dddd, MMMM DD YYYY")}}</label>
                <div flex>
                    <div class="schedule-item" ng-repeat="event in events" ng-if="parseDateEvent(event.date, 'MM-DD-YYYY') == temp4.format('MM-DD-YYYY')"  ng-class="{'meeting': event.type=='meeting', 'extra': event.type=='extra'}">{{event.title}}</div>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex layout="column">
                <label class="schedule-day-label">{{temp5.format("dddd, MMMM DD YYYY")}}</label>
                <div flex>
                    <div class="schedule-item" ng-repeat="event in events" ng-if="parseDateEvent(event.date, 'MM-DD-YYYY') == temp5.format('MM-DD-YYYY')" ng-class="{'meeting': event.type=='meeting', 'extra': event.type=='extra'}">{{event.title}}</div>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex layout="column">
                <label class="schedule-day-label">{{temp6.format("dddd, MMMM DD YYYY")}}</label>
                <div flex>
                    <div class="schedule-item" ng-repeat="event in events" ng-if="parseDateEvent(event.date, 'MM-DD-YYYY') == temp6.format('MM-DD-YYYY')" ng-class="{'meeting': event.type=='meeting', 'extra': event.type=='extra'}">{{event.title}}</div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100px"></div>
    <md-fab-toolbar md-open="isOpen" count="demo.count" md-direction="left" style=" width: 100%; position: absolute; bottom: 0; right: 0">
        <md-fab-trigger class="align-with-text" style="margin-right: 20px">
            <md-button aria-label="add" class="md-fab md-primary">
                <md-icon md-svg-src="svg/ic_add_white_36px.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="lesson" class="md-icon-button">
                    <md-icon md-svg-src="svg/ic_assignment_white_36px.svg"></md-icon>
                </md-button>
                <md-button aria-label="meeting" class="md-icon-button">
                    <md-icon md-svg-src="svg/ic_people_white_36px.svg"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
</md-content>
